{# src/DV/UserBundle/Resources/User/indexUser.html.twig #}

{% extends "DVUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin - Fotos
{% endblock %}

{% block DV_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_toLoad" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="page_content">

			<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
        	{% if is_granted("ROLE_ADMIN") %}

			  	<div id="section_admin" class="row center">

			  		<br/><br/>

			  		<div class="row">
			  			<a class="btn btn-action-admin float-left" href="{{ path('dv_user_fotos_anadir') }}">
	    					Añadir
	    				</a>
			  		</div>

			  		<br/>
			  		<h3>
			  			Fotos
			  		</h3>
			  		<br/>

					<div class="row">
	    				{% if fotos|length > 0 %}
							{% for foto in fotos %}
								<div class="col-md-2 col-xs-2 photo_admin">
									<div class="article_photo_container">
										<div class="photo_default" style="width: 100%; min-height:100px; background-image: url('{{ asset( foto.webPath) }}'); background-size: cover; background-position: 50%;" alt="{{ foto.alt }}">
					                    </div>
									</div>
									<br/>
									<strong>
										Añadido el {{ foto.creado|date('d/m/y') }}
									</strong>
									<a href="javascript:seguroSuprimir('{{ path('dv_user_fotos_suprimir', {'fotoId':foto.id}) }}')">
	                              		<button class="btn btn-delete-admin">
		                              		<span class="glyphicon black glyphicon-trash" aria-hidden="true"></span>
	                              		</button>
	                              	</a>
								</div>
							{% endfor %}
						{% else %}
							<p class="center">
								<br/><br/><br/>
								Ningun foto ahora.
							</p>
						{% endif %}
	    			</div>
			  	</div>

			  	<script type="text/javascript">
			  		function seguroSuprimir(path) {
						if (confirm('Seguro que desea suprimir esta foto ?')) {
							window.location = path;
						}
					}

					var photWid = $('.photo_default').width();
					var photHei = $('.photo_default').height();
					if (photWid > photHei) {
						$('.photo_default').css({'height': photWid+'px'});
					}
					else {
						$('.photo_default').css({'width': photHei+'px'});
					}
			  	</script>
			  	
        	{% else %}
        		<div>
        			<br/><br/><br/><br/><br/>
        			Usted no esta autorizado a acceder a esta parte del sitio!
        		</div>
        	{% endif %}

		</div>
	</div>
	<!-- END CONTENT -->

{% endblock DV_User_body %}
