{# src/DV/UserBundle/Resources/User/indexUser.html.twig #}

{% extends "DVUserBundle::user_general.html.twig" %}

{% block title %}
  {{ parent() }} - Admin
{% endblock %}

{% block DV_User_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_toLoad" class="row">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="page_content">

	  		<br/><br/>

			<!--  ///// ///// ///// ///// /////  AUTHORISED  ///// ///// ///// ///// ///// --> 
        	{% if is_granted("ROLE_ADMIN") %}

			  	<div id="section_admin" class="row center">


					<div class="row92">
		    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left">
							<br/><br/>
							<h3 class="left">
								Paginas :
							</h3>
							{% if paginas|length > 0 %}
								<ul class="list_no_style_li list_articles_admin">
									{% for pagina in paginas %}
										<li class="article_link {% if pagina == paginaPedida %}li_article_active{% endif %}" id="article_n_{{ pagina.id }}">
											<a href="" class="no_style_a">
												{{ pagina.nombre|truncate(40, false, '...') }}
											</a>
											<span class="float-right arrow_article">
												<img src="{{ asset('img/system/defaults/right_arrow.png') }}" alt=""/>
											</span>
											<span class="float-right date_article">
												{% if pagina.ultimaModificacion|length > 0 %}
													{{ pagina.ultimaModificacion|date('d M Y') }}
												{% else %}
													(Vacío)
												{% endif %}
											</span>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								Ningun pagina
							{% endif %}
						</div>

						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border_black_left">
							<div id="article_content">
								<div class="row">
				    				<a class="btn btn-action-admin float-left" href="{{ path('dv_user_pagina_nueva') }}">
				    					Nueva
				    				</a>
				    				{% if paginas|length > 0 %}
				    				<a class="btn btn-action-admin float-right logout-btn-admin"  href="">
				    					Suprimir
				    				</a>
				    				<a class="btn btn-action-admin float-right"  href="{{ path('dv_user_pagina_modif', {'paginaId':paginaPedida.id}) }}">
				    					Modificar
				    				</a>
				    				{% endif %}
				    			</div>
				    			<br/><br/>
				    			<div class="row left">
				    				
									{% if paginaPedida %}
									<div class="thumbnail">
										<div class="caption">
											<div class="row">
												<div class="inline_div">
													<h4>
														{% if paginaPedida.nombre|length > 0 %}
															{{ paginaPedida.nombre|raw }}
														{% else %}
															(Titre vide)
														{% endif %}
													</h4>
												</div>
												<div class="inline_div float-right date_article_lg">
													{% if paginaPedida.ultimaModificacion|length > 0 %}
														el {{ paginaPedida.ultimaModificacion|date('d M Y') }} a las {{ paginaPedida.ultimaModificacion|date('H:i') }}
													{% endif %}
												</div>
											</div>
											
											<div class="row">
												{% if paginaPedida.contenido|length > 0 %}
													{{ paginaPedida.contenido|raw }}
												{% else %}
													(Pagina vacía)
												{% endif %}
											</div>
										</div>
									</div>
									{% endif %}
				    			</div>
							</div>
						</div>
	    			</div>
			  	</div>
			  	
        	{% else %}
        		<div>
        			<br/><br/><br/><br/><br/>
        			Usted no esta autorizado a acceder a esta parte del sitio!
        		</div>
        	{% endif %}

		</div>
	</div>
	<!-- END CONTENT -->

{% endblock DV_User_body %}
