{# src/DV/MainBundle/Resources/Main/clientes.html.twig #}

{% extends "DVMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block DV_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_toLoad" class="row" style="width: 100%; background-image: url('{{ asset( 'img/bg_paginas/clientes.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="page_content">

			<div class="row txt_sobre_img">
				<h3>
					NUESTROS CLIENTES
				</h3>

				<hr class="medium_hr row60"/>
				<br/>

				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									CONSTRUCCIÒN
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<h5>
									CLIENTES:
								</h5>
								<p>
									<ul>
										<li>
											J.E. ANTARES, CONSTRUCCION REAL PLAZA
										</li>
										<li>
											HOTEL LIBERTADOR
										</li>
										<li>
											BACKUS Y JHONSTON
										</li>
										<li>
											ARZOBISPADO DEL CUSCO
										</li>
										<li>
											PARROQUIA SANTISIMA TRINIDAD
										</li>
										<li>
											PARROQUIA CRISTO PEREGRINO
										</li>
										<li>
											MUNICIPALIDAD DISTRITAL DE HUANOQUITE
										</li>
									</ul>
								</p>

								<p class="center italic">
									Construcción y Mantenimiento Civil, Mecánico, Eléctrico En Fábricas, Hospitales y Colegios
								</p>
						  	</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="photo_thumbnail" style="width: 100%; background-image: url('{{ asset( 'img/clientes/001.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">
						</div>
						<script type="text/javascript">
							var cw = $('.photo_thumbnail').width() / 2;
							$('.photo_thumbnail').css({'height':cw+'px'});
						</script>
					</div>
					
				</div>

				<div class="hidden-xs">
					<br/>
					<hr class="medium_hr row80"/>
					<br/>
				</div>

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="photo_thumbnail" style="width: 100%; background-image: url('{{ asset( 'img/clientes/002.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">
						</div>
						<script type="text/javascript">
							var cw = $('.photo_thumbnail').width() / 2;
							$('.photo_thumbnail').css({'height':cw+'px'});
						</script>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									ESTRUCTURAS METÁLICAS
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<h5>
									CLIENTES:
								</h5>
								<p>
									<ul>
										<li>
											MUNICIPALIDAD DE LIVITACA
										</li>
										<li>
											CLINICA SANTA RITA DE CASIA (Padres Agustinos)
										</li>
										<li>
											MUNICIPALIDAD DE URCOS
										</li>
										<li>
											EMPRESA JAST SRL.
										</li>
										<li>
											PLAN COPESCO
										</li>
										<li>
											MASTER DESARROLLO INMOBILIARIO S.R.L.
										</li>
									</ul>
								</p>
								<p class="center italic">
									Construcción de Techos, Puentes, arenado y pintado de estructuras especiales
								</p>
						  	</div>
						</div>
					</div>
				</div>

				<div class="hidden-xs">
					<br/>
					<hr class="medium_hr row80"/>
					<br/>
				</div>

				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									VOLADURA DE ROCAS Y DEMOLICIÓN
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<h5>
									CLIENTES:
								</h5>
								<p>
									<ul>
										<li>
											CONCAR (GRUPO GRAÑA Y MONTERO)
										</li>
										<li>
											GOBIERNO REGIONAL DE APURIMAC
										</li>
										<li>
											GOBIERNO REGIONAL DE PUNO
										</li>
										<li>
											MUNICIPALIDAD DISTRITAL DE QUIQUIJANA
										</li>
										<li>
											FONDO SOCIAL LAS BAMBAS
										</li>
										<li>
											GRUPO INNOVA
										</li>
									</ul>
								</p>
								<p class="center italic">
									Movimiento de Tierras, Voladura de rocas En Canteras, Zanjas, Carreteras y Minas, Demolición De Construcciones Existentes
								</p>
						  	</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="photo_thumbnail" style="width: 100%; background-image: url('{{ asset( 'img/clientes/003.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">
						</div>
						<script type="text/javascript">
							var cw = $('.photo_thumbnail').width() / 2;
							$('.photo_thumbnail').css({'height':cw+'px'});
						</script>
					</div>
				</div>

				<div class="hidden-xs">
					<br/>
					<hr class="medium_hr row80"/>
					<br/>
				</div>

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="photo_thumbnail" style="width: 100%; background-image: url('{{ asset( 'img/clientes/004.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">
						</div>
						<script type="text/javascript">
							var cw = $('.photo_thumbnail').width() / 2;
							$('.photo_thumbnail').css({'height':cw+'px'});
						</script>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									ALQUILER DE MAQUINARIA Y EQUIPOS -  CONSULTORIA
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<h5>
									CLIENTES:
								</h5>
								<p>
									<ul>
										<li>
											IMPLEMENTACION DEL SISTEMA DE GESTION  SEGURIDAD SALUD OCUPACIONAL Y MEDIO AMBIENTE
										</li>
										<li>
											LEVANTAMIENTO TOPOGRAFICO
										</li>
										<li>
											SUPERVICION Y ELABORACION DE EXPEDIENTES TECNICOS 
										</li>
									</ul>
								</p>
						  	</div>
						</div>
					</div>
				</div>

				<br/><br/>
			</div>			

		</div>

	</div>
	<!-- END CONTENT -->

{% endblock DV_Main_body %}