{# src/DV/MainBundle/Resources/Main/nosotros.html.twig #}

{% extends "DVMainBundle::main_general.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block DV_Main_body %}

	<!-- BEGIN CONTENT -->
	<div id="page_toLoad" class="row" style="width: 100%; background-image: url('{{ asset( 'img/bg_paginas/nosotros.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">

		<div id="sessionFlash" class="sessionFlash">
		</div>

		<div id="page_content">

			<div class="row txt_sobre_img">
				<h3>
					NOSOTROS
				</h3>

				<hr class="medium_hr row60"/>
				<br/>

				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									¿Quienes Somos?
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									<strong>“CORPORACION DEO VOLENTE S.R.L.”</strong> con RUC. N° <strong>20450753115</strong>, dedicada a brindar servicios integrales para los rubros de minería, industria y construcción. 
								</p>
								<p>
									Nuestra empresa se constituyó en febrero del 2009, con el único propósito de ser la primera opción y elección para el desarrollo de los requerimientos de nuestros clientes y así contribuir en su éxito institucional.
								</p>
								<p>
									Para lo cual contamos con personal altamente calificado, con amplia experiencia en el rubro y maquinaria eficiente, lo que garantiza plenamente la calidad, seguridad y cumplimiento, dentro de los plazos y presupuestos previstos.
								</p>
						  	</div>
						</div>

						<br/>

						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									Visión
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									Fusionar nuestra experiencia y el talento de nuestra organización, comprometiéndonos con nuestros clientes en el logro de sus objetivos. 
								</p>
								<p>
									Involucrando a nuestros trabajadores formando líderes integrales en el ámbito familiar, profesional y laboral, satisfecho y motivado cuyos logros trasciendan en la empresa y en la sociedad.
								</p>
						  	</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="photo_thumbnail" style="width: 100%; background-image: url('{{ asset( 'img/nosotros/001.jpg') }}'); background-size: cover; background-position: 50%; " alt="alt">
						</div>
						<script type="text/javascript">
							var cw = $('.photo_thumbnail').width() /1.2;
							$('.photo_thumbnail').css({'height':cw+'px'});
						</script>
					</div>
					
				</div>
				
				<div class="hidden-xs">
					<br/>
					<hr class="medium_hr row80"/>
					<br/>
				</div>
				
				<div class="row">
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									Misión
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									Ser una empresa de Ingeniería y Construcción líder en el mercado peruano, reconocida por su amplia experiencia, atención personalizada y brindar calidad, seguridad, eficiencia en los servicios,   promoviendo la inclusión de nuestros trabajadores como parte de nuestra “familia empresarial”.
								</p>
						  	</div>
						</div>
					</div>
				
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
						  	<div class="panel-heading">
						    	<h4 class="panel-title">
									Valores
						    	</h4>
						  	</div>
						  	<div class="panel-body">
						    	<p>
									<ul>
										<li>
											CALIDAD.- satisfacemos todas sus necesidades y expectativas con fiabilidad y disposición.
										</li>
										<li>
											CUMPLIMIENTO.- dentro del plazo y presupuestos previstos. Optimizando Costos y Maximizando los Beneficios
										</li>
										<li>
											SEGURIDAD.- Lo más importante es la PERSONA, que esté bien, que se sienta bien, y que llegue bien 
										</li>
										<li>
											COMPROMISO.-   NUESTRO COMPROMISO ES EL SERVICIO 
										</li>
									</ul>
								</p>
								<p class="center italic">
									Respetando a las comunidades y medio ambiente, que rodea nuestro entorno laboral
								</p>
						  	</div>
						</div>
					</div>

					
				</div>

				<div class="hidden-xs">
					<br/>
					<hr class="medium_hr row80"/>
					<br/>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default">
					  	<div class="panel-heading">
					    	<h4 class="panel-title">
								Certificaciones
					    	</h4>
					  	</div>
					  	<div class="panel-body center">
					  		<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs"></div>
					  		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						    	<img class="photo_certif" src="{{ asset( 'img/nosotros/certificacion1.jpg') }}" alt="certification 1"/>
						    	<img class="photo_certif" src="{{ asset( 'img/nosotros/certificacion2.jpg') }}" alt="certification 2"/>
					  		</div>
					  		<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs"></div>
					  	</div>
					</div>
				</div>
				

				<br/><br/>
			</div>	

		</div>

	</div>
	<!-- END CONTENT -->

{% endblock DV_Main_body %}