{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}


<div id="header" class="row">
	<div id="header_content">
		
		<div class="col-lg-3 col-md-3 col-sm-10 col-xs-10">
			<div id="div_logo_header">
				<a href="{{ path('dv_main_homepage') }}" class="no_style_a">
					<img src="{{ asset('img/system/logo/logo.png') }}" alt="Logo" id="logo_header">
				</a>
			</div>
		</div>

		<div id="nav_header" class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
			<ul class="list_no_style_li">
				<li class="right_border_li {% if route == 'dv_main_homepage' %}header_active{% endif %}"> 
					<a href="{{ path('dv_main_homepage') }}" class="no_style_a">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a>
				</li><!---->
				<li class="right_border_li {% if route == 'dv_main_nosotros' %}header_active{% endif %}">
					<a href="{{ path('dv_main_nosotros') }}" class="no_style_a">
						NOSOTROS
					</a>
				</li><!---->
				<li class="right_border_li {% if route == 'dv_main_servicios' %}header_active{% endif %}">
					<a href="{{ path('dv_main_servicios') }}" class="no_style_a">
						SERVICIOS
					</a>
				</li><!---->
				<li class="right_border_li {% if route == 'dv_main_proyectos' %}header_active{% endif %}">
					<a href="{{ path('dv_main_proyectos') }}" class="no_style_a">
						PROYECTOS
					</a>
				</li><!---->
				<li class="right_border_li {% if route == 'dv_main_clientes' %}header_active{% endif %}">
					<a href="{{ path('dv_main_clientes') }}" class="no_style_a">
						CLIENTES
					</a>
				</li><!---->
				<!-- <li class="right_border_li {% if route == 'dv_main_rse' %}header_active{% endif %}">
					<a href="{{ path('dv_main_rse') }}" class="no_style_a">
						RSE
					</a>
				</li> --><!---->
				<li class="right_border_li {% if route == 'dv_main_fotos' %}header_active{% endif %}">
					<a href="{{ path('dv_main_fotos') }}" class="no_style_a">
						FOTOS
					</a>
				</li><!---->
				<li class=" {% if route == 'dv_main_contact' %}header_active{% endif %}">
					<a href="{{ path('dv_main_contact') }}" class="no_style_a">
						CONTACT
					</a>
				</li>
			</ul>

		</div>

		<div id="social_media" class="">
		    <a href="https://www.facebook.com/CorporacionDeoVolenteSrl" target="_blank">
		      <div class="social social_fb"></div>
		    </a>
		    <!-- <a href="https://twitter.com/" target="_blank" rel="external">
		      <div class="social social_tw"></div>
		    </a> -->
		    <a href="{{ path('dv_main_contact') }}">
		      <div class="social social_mail"></div>
		    </a>
		</div>
	</div>
</div>