{# For clearer view #}
{% set route = app.request.attributes.get( '_route' ) %}


<div id="header" class="row">
	<div id="header_content">
		
		<div class="col-lg-3 col-md-3 col-sm-10 col-xs-10">
			<div id="div_logo_header">
				<a href="{{ path('dv_main_homepage') }}" class="no_style_a">
					<img src="{{ asset('img/system/logo/logo.png') }}" alt="Logo" id="logo_header">
				</a>
			</div>
		</div>

		<div id="nav_header_admin" class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
			<h1>
				Administración del sítio
			</h1>
			<ul class="list_no_style_li">
				<li class="right_border_li {% if route == 'dv_user_homepage' %}header_active_admin{% endif %}">
					<a href="{{ path('dv_user_homepage') }}" class="no_style_a">
						PAGINAS
					</a>
				</li><!---->
				<li class="right_border_li {% if route == 'dv_user_fotos' %}header_active_admin{% endif %}">
					<a href="{{ path('dv_user_fotos') }}" class="no_style_a">
						FOTOS
					</a>
				</li><!---->
				<li class="logout-btn-admin">
					<a href="{{ path('fos_user_security_logout') }}" class="no_style_a">
						SALIDA
					</a>
				</li><!---->
			</ul>

		</div>
	</div>
</div>